:root {
  /* Colors */
  --logto-color-background: #ffffff;
  --logto-color-typeface-primary: #17181c;
  --logto-color-typeface-secondary: #696c76;
  --logto-color-container-on-success: #3d9b59;
  --logto-color-primary: #5b5cf6;
  --logto-color-divider: #e8e9ee;

  /* Shapes */
  --logto-shape-corner-lg: 10px;
  --logto-shape-corner-md: 8px;
  
  /* Spacing */
  --logto-spacing-xl: 20px;
  --logto-spacing-lg: 16px;
  --logto-spacing-md: 12px;
  --logto-spacing-sm: 8px;
  --logto-spacing-xs: 4px;

  /* Fonts */
  --logto-font-label-lg: 600 16px/24px Inter, ui-sans-serif, system-ui, sans-serif;
  --logto-font-label-md: 600 14px/20px Inter, ui-sans-serif, system-ui, sans-serif;
  --logto-font-label-sm: 600 12px/16px Inter, ui-sans-serif, system-ui, sans-serif;

  --logto-font-body-lg: 400 16px/24px Inter, ui-sans-serif, system-ui, sans-serif;
  --logto-font-body-md: 400 14px/20px Inter, ui-sans-serif, system-ui, sans-serif;
  --logto-font-body-sm: 400 12px/16px Inter, ui-sans-serif, system-ui, sans-serif;
}
