@use '@/shared/scss/underscore' as _;

.captchaBox {
  margin-bottom: _.unit(2);
}

.aliyunCaptchaBox {
  position: relative;
}

.aliyunCaptchaTrigger {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  overflow: hidden;
  opacity: 0%;
  pointer-events: none;
}
